

body {
    font: 400 15px/1.5 "Roboto Slab",Montserrat,Iosevka,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "Roboto Slab", "Montserrat, Iosevka", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.about {
    margin-bottom: 15px;
}